body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    padding: 20px 0;
}

#map-container {
    width: 100%;
    height: 400px;
    margin: 0 auto;
}
